node_modules
/lib/types
/lib/coverage
/doc/dist
/doc/.nuxt
/doc/.output
/doc/components/compiled
/doc/pages/compiled
.idea/
/lib/README.md
/lib/LICENSE
/plugins/*/LICENSE
/compiler/LICENSE
/plugins/*/types
/compiler/types