node_modules
/lib/types
/lib/coverage
/doc/dist
/doc/.nuxt
/doc/.output
/doc/components/compiled
/doc/pages/compiled
.idea/
/lib/README.md
/lib/LICENSE
/markdown/README.md
/markdown/LICENSE
/markdown/types
/compiler/types