
.vjsf-property .array-card .v-card__text {
  padding: 6px 16px 0 16px;
}
.vjsf-property .array-card .v-card__actions {
  padding: 0 16px 6px 16px;
}
.vjsf-property .v-input--selection-controls {
  margin-top: 0;
}
.vjsf-tooltip p:last-child {
  margin-bottom: 0;
}


