<template>
  <v-container>
    <h1 class="text-h3 mt-8 mb-3">
      {{ example.title }}
    </h1>
    <div v-html="$markdown(example.description)" />
    <example :example="example" :v2="<%= exampleSuite.id === 'v2' %>">
      <template #vjsf="{modelValue, mode, updateState}">
        <compiled-<%= exampleSuite.id %>-<%= example.id %> :model-value="modelValue" :mode="mode" @update:state="updateState" />
      </template>
    </example>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      example: <%- JSON.stringify(example) %>
    }
  }
}
</script>

<style lang="css" scoped>
</style>
