<html>
  <head>
    <title>VJSF - test apps - compiled</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="/dist/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container>
            <h1>VJSF - Test app - Compiled</h1>

            <h2>Very basic form</h2>
            <v-form v-model="form1.valid">
              <v-jsf :schema="form1.schema" :options="form1.options" v-model="form1.model"></v-jsf>
            </v-form>
            valid={{form1.valid}}, model={{form1.model}}

            <h2>Form with draggable array elements</h2>
            <v-form v-model="form2.valid">
              <v-jsf :schema="form2.schema" :options="form2.options" v-model="form2.model"></v-jsf>
            </v-form>
            valid={{form2.valid}}, model={{form2.model}}
          </v-container>
          
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/dist/main.js"></script>
    <script src="/dist/third-party.js"></script>
    <script>
      Vue.component('VJsf', VJsf.default)
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            form1: {
              valid: null,
              schema: {
                type: 'object',
                properties: {
                  stringProp: { type: 'string', title: `I'm a string`, description: 'This description is used as a help message.' }
                }
              },
              options: {},
              model: {}
            },
            form2: {
              valid: null,
              schema: {
                type: 'object',
                properties: {
                  arrayProp: {
                    type: 'array',
                    items: {
                      type: 'object',
                      properties: {
                        stringProp: { type: 'string', title: `I'm a string` }
                      }
                    }
                  }
                }
              },
              options: {},
              model: {
                arrayProp: [
                  {stringProp: 'value 1'},
                  {stringProp: 'value 2'}
                ]
              }
            }
          }
        }
      })
    </script>
  </body>
</html>